{% extends "base.html" %}
{% block content %}
    <section class="about-section">
        <h1>About Me</h1>
        <div class = "about-intro">
            <img src="{{url_for('static', filename = user.headshot)}}" alt = "{{user.altTxt}}">
            <div class = "about-text">
                {% for p in user.about %}
                <p>{{p}}</p>
                {% endfor %}
            </div>
        </div>

        <h2 class = "section-subtitle">My Education</h2>
        {% for e in edu %}
        <article>
            <h3>{{e.degree}} || {{e.school}}</h3>
            <p>{{e.period}}</p>
            <p>{{e.description}}</p>
            {% if e.links %}
            {% for l in e.links %}
            <a href="{{l.link}}">{{l.linkName}}</a>
            {% endfor %}
            {% endif %}
        </article>
        {% endfor %}
    </section>
{% endblock %}